{% extends "Padre.html" %}
{% load static %}

{% block Titulos_iniciales %}
<span class="site-heading-upper text-primary mb-3"></span>
<span class="site-heading-lower">LISTADO DE BLOGS</span>
{% endblock %}

{% block imagen %}
    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/registro.jpg' %}" alt="..." />
{% endblock %}

<h3>{{  mensaje }}</h3>
{% block Titulos_texto %}
<h6 class="section-heading mb-4">
   <ul>
    <h1>LISTADO DE BLOGS</h1>

    {% for blog in object_list %}
    <li>
        <p> TITULO : <i>{{ blog.titulo }}</i></p>
        
        <p> 
            <a href="{% url 'leerBlogs' %}">Leer mas</a>

    </li>

  
    
    {% endfor %}
    </ul>
   
   
 </h6>
{% endblock %}


{% block Autor_fecha %}
    <div class="container"><p class="m-0 small">Autor: Norwys León - Fecha: Enero 2022</p></div>
{% endblock %}