{% extends "Padre.html" %}
{% load static %}

{% block Titulos_iniciales %}
<span class="site-heading-upper text-primary mb-3"></span>
<span class="site-heading-lower">FORMULARIO PARA CREAR POST</span>
{% endblock %}

{% block imagen %}
    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/registro.jpg' %}" alt="..." />
{% endblock %}



<h3>{{  mensaje }}</h3>
{% block Titulos_texto %}

<form action="{% url 'blogFormulario' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

       <table>
        {{ form.as_table }}

       </table>

        <input type="submit" value="Crear Post">
    </form>


{% endblock %}


{% block Autor_fecha %}
    <div class="container"><p class="m-0 small">Autor: Norwys León - Fecha: Enero 2022</p></div>
{% endblock %}